* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-size: 16px;
    
}
body {
    color: hsl(228, 39%, 23%);
}
.container {
    max-width: 1300px;
}
.navbar-toggle {
    display: none;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    
}
.nav-list li {
    padding: 8px;
    margin: 8px;
    list-style: none;
    
}
.nav-list-second {
    display: flex;
    padding-left: 0em;
   
}
.nav-list-second li a{
    text-decoration: none;
    color: hsl(228, 39%, 23%);
}

.nav-list .btn, main .btn{
    background-color: hsl(12, 88%, 59%);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding-left: 12px;
    padding-right: 12px;
}
/*section {
    border: 0.1px solid darkblue;
}
section div {
    border: 0.5px solid darkblue;
}*/
.main-conteudo {
    overflow: hidden;
}
main .main-box-1 {
    margin-top: 8rem;
    padding-left: 4%;
    padding-right: 8%;
}
main .main-box-a h1 {
    padding-top: 3rem;
    padding-bottom: 2rem;

}
main .main-box-a p {
    padding-bottom: 1.5rem;
    text-align: left;
    padding-right: 3rem;
}
main .main-box-a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
    padding-right: 2.5rem;
}
main .main-box-b img {
    margin-top: 0;
    padding-left: 2em;
    max-width: 115%;
}

main .main-box-2 {
    margin-bottom: 3rem;
    margin-top: 6rem;
}
.main-box-2 .main-box-a {
    padding-left: 5%;
    
}
.main-box-2 .main-box-a h2 {
    margin-bottom: 2rem;
}
.aside-title {
    display: flex;
}
.aside-title span {
   display: inline-block;
   background-color: hsl(12, 88%, 59%);
   width: 15%;
   height: 5%;
   margin-right: 2rem;
   text-align: center;
   padding: 8px;
   border-radius: 15px;
}
.aside-title  p{
    
}
#list-false-1, #list-false-2, #list-false-3 {
    margin-bottom: 2rem;
}
#list-false-1  p , #list-false-2 p, #list-false-3 p {
    margin-left: 10.8rem;
}


body {
    background-image: url("/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
   background-position: 105% -16%;
   background-size: 50vw;
}
.c-1 img {
    width: 50px;
    height: 50px;
}
.slide-show .slider {
    display: flex;
}

.slide-show .c-1 {
    background: hsl(0, 0%, 98%);
    border-radius: 10px;
    margin: 30px;
    width: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border: none;
    padding: 30px;

}
.slide-show img {
    position: absolute;
    right: 50%;
    top: 8px;
    left: 46%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}
.title-slide-people {
    text-align: center;
    margin: 25px;
    padding: 25px;
}

.swiper {
   width: 30%;
   max-height: 300px;
}

.slide-show {
    max-width: 1300px;
}
.button-down {
    max-width: 100%;
    display: flex;
    justify-content: center;
    
}

 .button-down .btn {
    margin-top: 5rem;
    margin-bottom: 10rem;

}

.semi-footer {
    background-color: hsl(12, 88%, 59%);
    height: 200px;
    
}
#butao {
    background-color: aliceblue;
    color: hsl(12, 88%, 59%);
    border: none;
}
.semi-footer .semi-footer-a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.semi-footer .semi-footer-a p {
    padding-left: 15px;
}
.h2 {
    color: aliceblue;
}

.semi-footer .semi-footer-b {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color:  hsl(233, 12%, 13%);
    height: 250px;
}
footer .box-img {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-left: 6.5rem;
    fill: aliceblue;
}
footer ul {
    display: flex;
    margin-top: 5rem;
    margin-left: 4rem;
    
    list-style: none;
}
footer ul li {
    padding: 6px;
}

footer .lista-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
}
footer .lista-footer-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
}

footer .box-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer input {
    padding: 10px;
    border-radius: 25px;
    outline: none;
    border: none;
    margin-right: 1rem;
}
footer #button-go {
    padding: 7px;
    border-radius: 15px;
    margin-right: 5rem;
    padding-left: 15px;
    padding-right: 15px;
}
.semi-footer {
    background: url("/images/bg-simplify-section-desktop.svg") hsl(12, 88%, 59%);
    background-repeat: no-repeat;
    background-position-x: 200px;
    background-position-y: -100px;
}


main {
    background: url("/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: -500px;
}

@media (max-width: 1440px){
    body {
        background-image: url("/images/bg-tablet-pattern.svg");
        background-repeat: no-repeat;
        background-position: 115% -6%;
        background-size: 55vw;
    }
}



@media only screen and (max-width: 375px) {
    * {
        font-size: 14px; 
    }

    body {
        background-image: url("/images/bg-tablet-pattern.svg");
        background-repeat: no-repeat;
       background-position: -60% -1%;
       background-size: 110vw;
       
    }

    .navbar-toggle {
        display: block;
        position: absolute;
        top: 0.5rem;
        right: 1%;

    }
    .navbar-toggle img {
        fill: hsl(228, 39%, 23%);
        color: hsl(228, 39%, 23%);
        border: none;
        background: none;
    }
    #nav-button {
        display: none;
    }
    .container {
        padding: 0 10px; 
    }

    .nav-list {
        padding: 0; 
    }

    .nav-list li {
        padding: 4px; /
    }

    .nav-list-second {
        display: none; 

    }
    .nav-list-second li {
        padding: 1.2rem;
    }
    .nav-list-second {
        position: absolute;
        left: 5%;
        top: 8rem;
        width: 100%;
        background-color: #fff;
        margin-left: -1.3rem;
        text-align: center;
        border-radius: 5px;
    }

    .nav-list .btn,
    main .btn {
        font-size: 14px; 
        padding: 8px 16px; 
    }

    main .main-box-1 {
        padding: 0%;
        margin-top: 4rem; 
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    main .main-box-1 button {
        margin: auto;
    }
    main .main-box-1 p {
        display: block;
        width: 100%;
        padding-left: 1em;
        padding-right: 0%;
        text-align: center;
    }

    main .main-box-a h1 {
        font-size: 24px; 
    }
    main .main-box-a {
        text-align: center;
        display: block;
    }

    main .main-box-a p {
        padding-right: 0.1rem; 
        padding-left: 0.8rem;
        text-align: center;
    }

    main .main-box-b img {
        padding-left: 0; 
        max-width: 100%; 
    }

    main {
        background: url("/images/bg-tablet-pattern.svg");
        background-repeat: no-repeat;
        background-position-x: 200px;
        background-position-y: 420px;
        background-size: 80vw;
        
    }

    .aside-title {
        background-color: hsl(13, 100%, 96%);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
        border-radius: 5px;
        
        
    }
    .aside-title span {
        color: #fff;
    }
    #list-false-2  span {
        margin-left: -2.8rem;
    }
    
    #list-false-1 p, #list-false-2 p, #list-false-3 p {
        margin-left: 5.4rem;
    }
    .slide-show img {
        position: absolute;
        right: 50%;
        top: 8px;
        left: 43%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -30px;
    }

    .slide-show .c-1 {
        background: hsl(0, 0%, 98%);
        
        margin: 0px;
        width: 240px;
        box-shadow: none;
        border: none;
        padding: 30px;
    
    }

    .swiper {
        width: 100%; 
        max-height: none; 
    }

    .swiper-slide {
        margin: 0 auto; 
        width: 80%; 
    }

    .button-down .btn {
        margin-top: 3rem; 
        margin-bottom: 5rem; 
    }

    .semi-footer {
        height: auto; 
        background: url("/images/bg-simplify-section-mobile.svg") hsl(12, 88%, 59%);
        background-repeat: no-repeat;
        background-position-x: 0px;
        background-position-y: -50px;
    }
    .semi-footer-a {
        margin-top: 5rem;
        margin-bottom: -4rem;
        
    }
    .semi-footer-a p {

    }

    .semi-footer .semi-footer-a,
    .semi-footer .semi-footer-b {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }
    

    footer ul {
        margin-top: 3rem; 
        margin-left: 0; 
    }
    footer{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .box-1{
        order: 4;
        width: 100%;
        flex-direction: column-reverse;
        
    }
    footer .box-1 ul {
        justify-content: center;
        padding-right: 4rem;
        color: #fff;
    }
    footer .box-1 li {
        padding: 3px;
        cursor: pointer;
    }

    
    footer .box-1 img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2rem;
    }

    footer .box-4 {
        order: 1;
        
    }
    footer .box-4 input {
        margin-left: 5rem;
        margin-top: 2rem;
    }
    footer .box-4 #button-go {
        margin-top: 2rem;
        padding-left: 15px;
        padding-right: 15px;
    }

    footer .box-2 , footer .box-3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 50%;
        order: 2;
    }

    footer .box-3 ul {
        margin-top: 0;
        margin-right: 2rem;
    }

}
