* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: hsl(228, 39%, 23%);
    font-size: 16px;
}
.container {
    max-width: 1300px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
}
.nav-list li {
    padding: 8px;
    margin: 8px;
    list-style: none;
}
.nav-list-second {
    display: flex;
    padding-left: 0em;
}

.nav-list .btn, main .btn{
    background-color: hsl(12, 88%, 59%);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding-left: 12px;
    padding-right: 12px;
}
/*section {
    border: 0.1px solid darkblue;
}
section div {
    border: 0.5px solid darkblue;
}*/
main .main-box-1 {
    margin-top: 8rem;
    padding-left: 4%;
    padding-right: 8%;
}
main .main-box-a h1 {
    padding-top: 3rem;
    padding-bottom: 2rem;

}
main .main-box-a p {
    padding-bottom: 1.5rem;
    text-align: left;
    padding-right: 3rem;
}
main .main-box-a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
    padding-right: 2.5rem;
}
main .main-box-b img {
    margin-top: 0;
    padding-left: 2em;
    max-width: 115%;
}

main .main-box-2 {
    margin-bottom: 3rem;
    margin-top: 6rem;
}
.main-box-2 .main-box-a {
    padding-left: 5%;
    
}
.main-box-2 .main-box-a h2 {
    margin-bottom: 2rem;
}
.aside-title {
    display: flex;
}
.aside-title span {
   display: inline-block;
   background-color: hsl(12, 88%, 59%);
   width: 15%;
   height: 5%;
   margin-right: 2rem;
   text-align: center;
   padding: 8px;
   border-radius: 15px;
}

body {
    background-image: url("/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
   background-position: 105% -30%;
   background-size: 50vw;
}
.c-1 img {
    width: 50px;
    height: 50px;
}
.slide-show .slider {
    display: flex;
}

.slide-show .c-1 {
    background: hsl(0, 0%, 98%);
    border-radius: 10px;
    margin: 30px;
    width: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border: none;
    padding: 30px;

}
.slide-show img {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}
.title-slide-people {
    text-align: center;
    margin: 25px;
    padding: 25px;
}

.swiper {
   width: 30%;
   max-height: 300px;
}

.slide-show {
    max-width: 1300px;
}
.button-down {
    max-width: 100%;
    display: flex;
    justify-content: center;
    
}

 .button-down .btn {
    margin-top: 5rem;
    margin-bottom: 10rem;

}

.semi-footer {
    background-color: hsl(12, 88%, 59%);
    height: 200px;
    
}
#butao {
    background-color: aliceblue;
    color: hsl(12, 88%, 59%);
    border: none;
}
.semi-footer .semi-footer-a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.semi-footer .semi-footer-a p {
    padding-left: 15px;
}
.h2 {
    color: aliceblue;
}

.semi-footer .semi-footer-b {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color:  hsl(233, 12%, 13%);
    height: 250px;
}
footer .box-img {
    margin-left: 2rem;
    margin-top: 2rem;
}
footer ul {
    display: flex;
    margin-top: 5rem;
    list-style: none;
}
footer ul li {
    padding: 6px;
}